<p id="notice"><%= notice %></p>

<p>
  <strong>Unit name:</strong>
  <%= @organisational_unit.unit_name %>
</p>

<%= link_to 'Edit', edit_organisational_unit_path(@organisational_unit) %> |
<%= link_to 'Back', organisational_units_path %>
