<p id="notice"><%= notice %></p>

<p>
  <strong>Heirarchy name:</strong>
  <%= @heirarchy.heirarchy_name %>
</p>

<%= link_to 'Edit', edit_heirarchy_path(@heirarchy) %> |
<%= link_to 'Back', heirarchies_path %>
